<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saba Haim</title>
</head>
<body>
    <div align="center">
        <video width="320" height="240" controls>
            <source src="https://d2dy808dkjub72.cloudfront.net/{{ video_url }}" type="video/mp4">
        </video>

        <br><br>

         <form action="{{ url_for('dashboard.saba', part=prev) }}" method="post" style="display: inline;">
            <input type="submit" class="btn" value="Previous">
        </form>
        <form action="{{ url_for('dashboard.saba', part=next) }}" method="post" style="display: inline;">
            <input type="submit" class="btn" value="Next">
        </form>

        <br><br>

        <form action="{{ url_for('dashboard.dashboard') }}" method="post">
        <input type="submit" class="btn" value="Home"></br>
     </form>
    </div>
</body>
</html>