<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>

 <div class="cx" style="background-color:#fff;" align="center">
     <h1>{{ user_name }}</h1>
    {% for album in albums %}
     <form action="{{ url_for('dashboard.show_album', album_id=album.id, album_name=album.name) }}" method="post">
        <input type="submit" class="btn" value="{{ album.name }}"></br>
     </form>
    {% endfor %}

     <br><br><br><br>
     <form action="{{ url_for('dashboard.dashboard') }}" method="post">
        <input type="submit" class="btn" value="Home"></br>
     </form>
  </div>
</body>
</html>