<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
 <div class="cx" style="background-color:#fff;" align="center">
     <h1>{{ album_name }}</h1>
     {% for picture in pictures %}
    <img src="../../cdn/{{ picture.path }}" height=200 width=200>
    {% endfor %}

     <br>

     <form action="{{ url_for('dashboard.previous_page', album_id=album_id, album_name=album_name) }}" method="post" style="display: inline;">
        <input type="submit" class="btn" value="Previous">
     </form>
     <form action="{{ url_for('dashboard.next_page', album_id=album_id, album_name=album_name) }}" method="post" style="display: inline;">
        <input type="submit" class="btn" value="Next">
     </form>

     <br><br><br>

     <form action="{{ url_for('dashboard.dashboard') }}" method="post">
        <input type="submit" class="btn" value="Home"></br>
     </form>

  </div>
</body>
</html>