<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body></br>

<div align="center">

    <h1>Home Page</h1>

    <a href="{{ url_for('dashboard.upload') }}" style="font-size: 30px; text-decoration: none">Upload</a></br>
    <a href="{{ url_for('dashboard.show_user_albums') }}" style="font-size: 30px; text-decoration: none">Show My Albums</a></br>
    <a href="{{ url_for('aws.get') }}" style="font-size: 30px; text-decoration: none">AWS get</a></br>
    <a href="{{ url_for('aws.store') }}" style="font-size: 30px; text-decoration: none">AWS store</a></br>
    <a href="{{ url_for('dashboard.saba', part=1) }}" style="font-size: 30px; text-decoration: none">Saba Sipur</a>

    </br></br></br>

    <div class="header">
        <h2 class="word">Find Albums (case-sensitive)</h2>
    </div>
    <h2 class="word">
        <form action="{{ url_for('dashboard.search_user_albums') }}" method="post">
            <input id="album_keyword" name="album_keyword" type="text" placeholder="Album Keyword" class="textbox"/></br>
            <input type="submit" class="btn" value="search"></br>
        </form>
    </h2>

    </br>

    <div class="header">
        <h2 class="word">Log Out</h2>
    </div>
    <h2 class="word">
        <form action="{{ url_for('auth.log_out') }}" method="post">
            <input type="submit" class="btn" value="log out"></br>
        </form>
    </h2>

    </br></br></br>
    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}

</div>

</body>
</html>