<html>
<head>
    <title>Upload files</title>
</head>
<body>

<div align="center">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="files">Files:   </label>
        <input type="file" id="file" name="file" multiple/>

        </br><br>
        Album name:
        <input id="upload_name" name="upload_name" type="text" placeholder="Enter Your album name" class="textbox"/>
        </br><br>
        <input type="submit" id="submit" value="Upload">
    </form>

    <br><br><br>

    <form action="{{ url_for('dashboard.dashboard') }}" method="post">
        <input type="submit" class="btn" value="Home"></br>
     </form>
</div>

</body>
</html>