<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Login</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('auth.login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                    <input id="user_phrase" name="user_phrase" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
                    <input type="submit" class="btn" value="Sign In"></br></br>
                </form>
            </h2>
          </div>
        </div>
        </br></br></br>

        <div align="center">
            <div class="header">
                <h1 class="word">Guest Access Here</h1>
             </div>
            <form action="{{ url_for('dashboard.main_view') }}" method="get">
                    <div class="msg">{{ msg }}</div>
                    <input type="submit" class="btn" value="Guest Sign In">
                </form>
        </div>

        </br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Signup</h1>
             </div>
            <h2 class="word">
                <form action="{{ url_for('auth.register') }}" method="get">
                    <div class="msg">{{ msg }}</div>
                    <input type="submit" class="btn" value="Register">
                </form>
            </h2>
          </div>
            {% for message in get_flashed_messages() %}
            <h2>{{ message }}</h2>
            {% endfor %}
        </div>
    </body>
</html>